.grid-container {
    width: auto;
    height: auto;
    display: grid;
    /* grid-template-columns: repeat(3, 5% 16% 79%); */
    grid-template-columns: repeat(3, 5% 20% 75%);

    grid-template-rows: auto auto auto auto;
    /* gap: 10px; */
    /* padding: 10px; */
}

.grid1 {
    grid-column: 1/4;
    grid-row: 1/1;
}

label {
    cursor: pointer;
}

.grid2 {
    grid-column: 2/3;
    grid-row: 1/1;
    height: 100px;
    background-color: rgb(50, 0, 96);
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;


}

.grid3 {
    grid-column: 3/3;
    /* background-color: black; */
}

.grid4 {
    grid-column: 1/1;
    grid-row: 2/3;
    background-color: rgb(50, 0, 96);
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;

}

.grid5 {
    grid-column: 2/2;
    grid-row: 2/3;
    background-color: rgb(50, 0, 96);
    font-size: large;
}

.grid6 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(50, 0, 96);
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

.grid7 {
    grid-column: 1/1;
    grid-row: 3/3;

}

.grid8 {
    grid-column: 2/3;
    grid-row: 3/3;
    background-color: rgb(50, 0, 96);
    /* height: 1450%; */
}

.grid9 {
    grid-column: 3/3;
    grid-row: 3/3;
}

.grid6>H1 {
    color: aliceblue;
    text-align: left;
    margin-bottom: 0%;
    font-size: 100px;
    padding-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid5>img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    align-content: center;

    /* border-radius: outet(2px); */
}

p1 {
    font-size: 20px;
    color: aliceblue;
    padding-left: 5%;
}


div>h4 {
    margin-bottom: 5px;
}

.grid8>div {
    padding-left: 20px;
    padding-top: 5%;
    color: white;
    font-size: medium;
}

color {
    color: gray;
    /* opacity: 75%; */
}


.grid9>div {
    padding-left: 30px;
    /* background-color: blueviolet; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

hr {
    width: 15%;
    float: left;
}

font {
    font-size: small;
}

h3 {
    font-size: 30px;

}

footer {
    /* grid-column: 3/3; */
    /* grid-row: 3/3; */
    text-align: right;
    /* background: lightpink; */
}

p1>color {
    color: gray;
    padding-left: 5%;
}